{% extends 'base.html.twig' %}

{% block title %}Screening index{% endblock %}

{% block body %}
    <h1>Screening index</h1>

    <a class="btn btn-primary" href="{{ path('screening_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_date</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for screening in screenings %}
            <tr>
                <td>{{ screening.id }}</td>
                <td>{{ screening.startDate ? screening.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ screening.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('screening_show', {'id': screening.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('screening_edit', {'id': screening.id}) }}">edit</a>
                    {{ include('screening/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
