{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation number {{ reservation.reservationNumber }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Screening starts at:</th>
                <td>{{ reservation.screening.startDate|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Hall</th>
                <td>{{ reservation.screening.hall }}</td>
            </tr>
            <tr>
                <th>Movie</th>
                <td>{{ reservation.screening.movies[0] }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>
                    <ul class="list-unstyled">
                    {% for seat in seats %}
                        <li>Row: {{ reservation.row }}, Seat: {{ seat }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
